@import '../../../styles/main';

#searchbar {
    position: relative;

    @media all and (max-width: 767px) { 
        text-align: left;
        margin-left: 15px;
    }

    .icon-search { 
        fill: $color-text-50;
        position: absolute;
        left: 25px;
        bottom: 11px;

        @media all and (max-width: 767px) { display: none; }
    }

    #input-search {
        border-radius: 50px;
        height: 36px;
        width: calc(100% / 1.6);
        margin-top: 30px;
        padding: 0 15px 0 40px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        outline: none;
        border: 1px solid $color-text-50;

        @media all and (max-width: 767px) { 
            padding-left: 15px;
            width: auto;
        }

        &::-webkit-input-placeholder {
            font-style: italic;
            color: $color-text-50;
        }
    }
}

