<div id="searchbar">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" class="icon-search">
    <path d="M9.09,4a6.087,6.087,0,0,1,4.621,10.052L19,19.338,18.337,20l-5.289-5.286A6.089,6.089,0,1,1,9.09,4Zm0,.936a5.151,5.151,0,1,0,5.153,5.151A5.152,5.152,0,0,0,9.09,4.936Z" transform="translate(-3 -4)"/>
  </svg>
  <input type="text" placeholder="Rechercher..." aria-label="Rechercher un parking" id="input-search" (keyup)="filterParking()"/>
</div>