@import '../../../styles/main';

.text-infos {
    font-size: 24px;
    color: $color-white;
    font-weight: 600;
    margin: 0 0 75px 0;

    @media all and (min-width: 1920px) { 
        margin: 50px 0 75px 0;
        font-size: 30px;
    }
}

#wrapper-content {
    margin-top: 50px;
    display: flex;
    flex-direction: row;

    @media all and (max-width: 991px) { flex-direction: column; }

    #chart-container {
        width: 70%;
        max-height: max-content;
        margin-right: 50px;
        background-color: $color-white;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(26, 26, 26, .05);

        @media all and (max-width: 991px) { 
            width: 100%; 
            margin-right: 0;
        }
    }

    #map-container { 
        width: 30%; 

        @media all and (max-width: 991px) { 
            width: 100%; 
            margin-top: 50px;
        }
    }
}