<h1 class="text-infos">Toutes les informations sur les parkings de la ville {{arrayVoyelle.indexOf(city.name.slice(0,1)) !== -1 ? "d'" + city.name : "de " + city.name}} en temps réel !</h1>

<app-blocks-details [listParking]="listParking"></app-blocks-details>

<section id="wrapper-content">
    <div id="chart-container">
        <app-chart *ngIf="listParking?.length > 0" type="bar" horizontal="true" [labelsX]="listParkingName" [data]="listData" [parking]="listParking"></app-chart>
    </div>
    <div id="map-container">
        <app-maps [listCoordonates]='listCoordonates' [city]='city'></app-maps>
    </div>
</section>
