<agm-map 
  [latitude]="city.coordonnates[0]" 
  [longitude]="city.coordonnates[1]" 
  [minZoom]="12" 
  [maxZoom]="18" 
  [usePanning]="true" 
  [streetViewControl]="false" 
  [fullscreenControl]="true" 
  [styles]="styles">

  <ng-container *ngFor="let coordonates of listCoordonates">

      <agm-marker 
        *ngIf="coordonates" 
        [latitude]="coordonates[1]" 
        [longitude]="coordonates[0]" 
        [iconUrl] ="{ url: './assets/icon/marker-map.svg' }">
      </agm-marker>

  </ng-container>

</agm-map>