/* BREAKPOINTS */

@mixin xlarge {
    @media only screen and (min-width: 1280px) {
        @content;
    }
}

@mixin large {
    @media only screen and (max-width: 1280px) {
        @content;
    }
}

@mixin medium {
    @media only screen and (max-width: 980px) {
        @content;
    }
}

@mixin small {
    @media only screen and (max-width: 766px) {
        @content;
    }
}

@mixin xsmall {
    @media only screen and (max-width: 400px) {
        @content;
    }
}

/* SCROLLBAR */
@mixin scrollbar($state-scroll) {
    overflow-y: $state-scroll;

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.35);
    }
}