/* COLORS */

$color-primary: #6A75CA;

$color-text: #1a1a1a;
$color-text-50: rgba(26, 26, 26, 0.5);
$color-text-16: rgba(26, 26, 26, 0.16);

$color-white: #ffffff;
$color-white-50: rgba(255, 255, 255, 0.5);

/* BACKGROUND */

$bg-light: #eff2Fa;
$bg-grey: #b3b3b3;
    
/* FONTS */

$font-default: 'Open Sans', sans-serif;