@import 'variables';
@import 'theme';
@import 'mixins';
@import 'font';

body {
    font-family: $font-default;
    background-color: $bg-light;
    padding: 30px 50px;
    min-height: calc(100vh - 60px);
    margin: auto;
    overflow-x: hidden;
    
    @media all and (min-width: 768px) { margin-left: $sidebar-width; }
    @media all and (max-width: 767px) { padding: 75px 20px 30px 20px; }
    @media all and (min-width: 1920px) {
        background-size: contain;
        background-position: top;
        min-width: $large-screen;
        width: $large-screen;
        margin-right: auto;
        margin-left: auto;
        padding-left: $sidebar-width;
    }

    @include scrollbar(overlay);
}
