@import '../../../styles/main';

.btn-filter {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;

    @media all and (max-width: 767px) { 
        top: -60px;
        right: -5px;
    }

    .dropdown {
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 20px;
        border: 1px solid $color-text-16;
        background: $color-white;
        box-shadow: 15px 15px 15px rgba(26, 26, 26, 0.16);
        transition: all .35s linear;

        
        @media all and (max-width: 991px) { 
            padding: 10px 15px;
            border-radius: 5px;
            border: none;
        }

        span {
            margin-right: 10px;
            color: $color-text-50;

            @media all and (max-width: 991px) { display: none; }

            + svg.arrow-filter {
                position: relative;
                top: 2px;
                transition: all .35s linear;

                @media all and (max-width: 991px) { display: none; }

                &.rotateArrow { transform: rotate(180deg); }
            }
        }

        .filter, .cross {
            position: relative;
            top: 2px;

            &.invisible { display: none; }
            &.visible { display: initial; }

            @media all and (min-width: 992px) { display: none !important; }
        }

        #dropdown-menu {
            transform: scale(0.5);
            opacity: 0;
            visibility: hidden;
            margin: 20px 0 0 0;
            padding: 0;
            border-radius: 5px;
            position: absolute;
            right: 0;
            z-index: -1;
            background: $color-white;
            color: $color-text;
            box-shadow: 15px 15px 15px $color-text-16;
            width: max-content;
            overflow: hidden;
            list-style: none;
            transition: all .25s ease-in-out; 

            @media all and (max-width: 991px) { margin-top: 3px; }

            &.active {
                transform: scale(1);
                opacity: 1;
                visibility: visible;
                z-index: 100;
            }

            li {
                padding: 7px 15px;
                font-size: 12px;

                &:hover { 
                    color: $color-white;
                    background-image: linear-gradient(to right, $color-primary,#9495d7, #bab7e4, #dddaf2, #ffffff 150%);
                }
            }
        }
    }
}