<div class="btn-filter">
  <div class="dropdown" (click)="toggleDropdown()">

    <!-- Icon cross -->
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 29.657 29.657" class="cross invisible">
      <g transform="translate(2.828 2.828)">
        <line x1="24" y2="24" fill="none" stroke="rgba(0, 0, 0, 0.5)" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
        <line x2="24" y2="24" fill="none" stroke="rgba(0, 0, 0, 0.5)" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
      </g>
    </svg>
    <!-- Icon filter -->
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 42 38" class="filter">
      <path d="M42,3H2L18,21.92V35l8,4V21.92Z" transform="translate(-1 -2)" fill="none" stroke="rgba(0, 0, 0, 0.5)" stroke-width="4"/>
    </svg>

    <span>Filtrer par</span>
    <!-- Arrow filter -->
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 28 16" class="arrow-filter">
      <path d="M6,9,18,21,30,9" transform="translate(-4 -7)" fill="none" stroke="rgba(0, 0, 0, 0.5)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
    </svg>
    
    <ul id="dropdown-menu">
      <li *ngFor="let filter of filters" [id]="filter?.id" (click)="selectedOption(id)">{{filter?.option}}</li>
    </ul>
  </div>
</div>