@import '../../../styles/main';

$height-icon: 20px;
$width-line: 30px;
$height-line: 3px;

$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;

#hamburger-menu {

    @media all and (min-width: 768px) { display: none; }

    position: fixed;
    top: 15px;
    left: 15px;
    width: $width-line;
    height: $height-icon;
    cursor: pointer;
    z-index: 1001;

    .line {
        width: $width-line;
        height: $height-line;
        position: absolute;
        left: 0;
        background: $color-text-50;
        border-radius: 10px;
        overflow: hidden;
        transition: all .4s;

        &.line-1 { top: 0; }
        &.line-2 { top: 50%; }
        &.line-3 { top: 100%; }
    }

    &:hover, &:focus {
        .line-1 { transform: translateY($height-line / 2 * -1); }
        .line-3 { transform: translateY($height-line / 2); }  
    }

    &.active {
        .line-1 { transform: translateY($translateY) translateX($translateX) rotate($rotation); }
        .line-2 { opacity:0; }
        .line-3 { transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1); }
    }

}