<section id="tabs">

  <ul>
    <!-- Icon home -->
    <li (click)="goHome()">
      <span [ngClass]="{'selected': home}">
        <svg xmlns="http://www.w3.org/2000/svg" width="17.54" height="15.67" viewBox="0 0 17.54 15.67" class="home-icon">
          <g transform="translate(0.29 -27.532)">
            <path d="M16.819,33.783l-8.058-5.9a.442.442,0,0,0-.522,0L.18,33.783A.442.442,0,0,0,.7,34.5l7.8-5.709L16.3,34.5a.442.442,0,0,0,.522-.713Z" transform="translate(0)"/>
            <path d="M69.262,232.543a.442.442,0,0,0-.442.442v7.031H65.286v-3.838a2.209,2.209,0,0,0-4.417,0v3.838H57.335v-7.031a.442.442,0,0,0-.883,0v7.472a.442.442,0,0,0,.442.442h4.417a.441.441,0,0,0,.44-.407.333.333,0,0,0,0-.034v-4.28a1.325,1.325,0,0,1,2.651,0v4.28a.323.323,0,0,0,0,.034.441.441,0,0,0,.44.408h4.417a.442.442,0,0,0,.442-.442v-7.472A.442.442,0,0,0,69.262,232.543Z" transform="translate(-54.578 -197.947)"/>
          </g>
        </svg>  
      </span>
    </li>
    <!-- Cities -->
    <li *ngFor="let city of cities" (click)="selectTab(city)">
        <span [ngClass]="{'selected': city?.id === citySelected?.id}" [id]="city?.id">{{city?.name}}</span>
    </li>
  </ul>
  <h1 *ngIf="home" class="text-infos">Pour commencer séléctionner une ville</h1>
  <app-filter-by></app-filter-by>

  <app-about-page [city]="citySelected" [listParking]="listParking" *ngIf="citySelected"></app-about-page>

</section>