@import '../../../styles/main';

.text-infos {
    font-size: 24px;
    color: $color-white;
    font-weight: 600;
    margin: 0 0 75px 0;

    @media all and (min-width: 1920px) { 
        margin: 50px 0 75px 0;
        font-size: 30px;
    }
}

#tabs {
    position: relative;

    ul {  
        display: inline-flex;
        list-style: none;
        padding: 0;
        margin: 0 0 50px 0;
        border-bottom: 1px solid $bg-grey;

        li {
            margin: 0 17px;
            text-transform: uppercase;
            padding-bottom: 10px;
    
            @media all and (max-width: 767px) { margin: 0 7px; }
    
            span {
                color: $color-white-50;
                text-decoration: none;
                padding: 0 7px 9px 7px;
                border: 3px hidden transparent;
                font-weight: 600;
                cursor: pointer;
                transition: all .25s ease-out;
    
                &.selected, &:hover { 
                    border-bottom: 3px solid $color-white;
                    color: $color-white;
                    .home-icon {
                        fill: $color-white;
                        stroke: $color-white;
                    }
                }

                .home-icon {
                    fill: $color-white-50;
                    stroke: $color-white-50;
                    stroke-width: 1;
                }

                &:hover .home-icon {
                    fill: $color-white;
                    stroke: $color-white;
                }
            }
        }
    }
}