<section id="block-details">

  <div class="block-wrapper block-1">
    <!-- Block 1 -->
    <div class="block-details-container">
      <div>
        <span>{{listParking.length}}</span>
      </div>
      <div>
        <h2>Parkings listés</h2>
      </div>
    </div>
    <!-- Block 2 -->
    <div class="block-details-container">
      <div class="special-alignment">
        <span>{{placeOccupe}}</span>
        <span class="medium">&nbsp;/&nbsp;</span>
        <span class="small">{{placeMax}}</span>
      </div>
      <div>
        <h2>Places occupées</h2>
      </div>
    </div>
  </div>

  <div class="block-wrapper block-2">
    <!-- Block 3 -->
    <div class="block-details-container">
      <div>
        <span>{{pourcent.toFixed(2)}}%</span>
      </div>
      <div>
        <h2>Places occupées</h2>
      </div>
    </div>
    <!-- Block 4 -->
    <div class="block-details-container">
      <div>
        <span>{{placePmr}}</span>
      </div>
      <div>
        <h2 class="pmr"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16" style="margin-right: 10px;">
          <path fill="#b3b3b3" d="M496.101 385.669l14.227 28.663c3.929 7.915.697 17.516-7.218 21.445l-65.465 32.886c-16.049 7.967-35.556 1.194-43.189-15.055L331.679 320H192c-15.925 0-29.426-11.71-31.679-27.475C126.433 55.308 128.38 70.044 128 64c0-36.358 30.318-65.635 67.052-63.929 33.271 1.545 60.048 28.905 60.925 62.201.868 32.933-23.152 60.423-54.608 65.039l4.67 32.69H336c8.837 0 16 7.163 16 16v32c0 8.837-7.163 16-16 16H215.182l4.572 32H352a32 32 0 0 1 28.962 18.392L438.477 396.8l36.178-18.349c7.915-3.929 17.517-.697 21.446 7.218zM311.358 352h-24.506c-7.788 54.204-54.528 96-110.852 96-61.757 0-112-50.243-112-112 0-41.505 22.694-77.809 56.324-97.156-3.712-25.965-6.844-47.86-9.488-66.333C45.956 198.464 0 261.963 0 336c0 97.047 78.953 176 176 176 71.87 0 133.806-43.308 161.11-105.192L311.358 352z"></path>
          </svg>PMR</h2>
      </div>
    </div>
  </div>

</section>