@import '../../../styles/main';

#block-details {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media all and (max-width: 1199px) { flex-direction: column; }

    .block-wrapper {
        width: 50%;
        display: flex;
        flex-direction: row;

        @media all and (min-width: 1200px) {
            &.block-1 .block-details-container:first-of-type { margin-left: 0; }
            &.block-2 .block-details-container:last-of-type { margin-right: 0; }
        }
        @media all and (max-width: 1199px) { width: 100%; }
    }

    .block-details-container {
        width: 100%;
        background-color: $color-white;
        padding: 20px 15px;
        margin: 0 20px;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(26, 26, 26, .05);

        @media all and (max-width: 1199px) {
            width: 50%;
            margin: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        @media all and (max-width: 1199px) { margin: 10px; }
       
        // Special block chars
        .special-alignment {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: baseline;
            flex-wrap: wrap;

            .medium {  
                font-weight: 500;
                font-size: 28px;
            }
            .small {  
                font-weight: 500;
                font-size: 24px;
            }
        }

        span {
            display: block;
            text-align: center;
            color: $color-primary;
            font-weight: 600;
            font-size: 36px;
        }

        h2 {
            text-align: center;
            color: $bg-grey;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 0;

            &.pmr {
                vertical-align: text-top
            }
        }
    }
}