<header id="sidebar">
  
  <div class="img-container">
    <img src="../../assets/img/logo.png" alt="Logo Parking"/>
  </div>

  <app-searchbar></app-searchbar>

  <ul>
    <li class="nav-item" *ngFor="let item of listParking">
      <svg viewBox="0 0 23.96 7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="5px" class="arrow-left">
        <path d="M5 4l3.55 2.1-.45.9L2 4.36 0 3.5l2-.85L8.1 0l.45.91L5 3"></path>
        <path d="M5 3h19v1H5"></path>
      </svg>
      <span> {{item.nom}}</span></li>
  </ul>

</header>

<app-hamburger-menu></app-hamburger-menu>