@import '../../../styles/main';

#sidebar {
  width: $sidebar-width;
  min-width: $sidebar-width;
  height: 100%;
  z-index: 1000;
  background-color: $color-white;
  text-align: center;
  transition: all 1s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;

  @include scrollbar(scroll);

  @media all and (max-width: 767px) { left: - $sidebar-width; }
  @media all and (min-width: 768px) { max-width: $sidebar-width; }

  &.active { 
    left: 0;
    width: 75%;
  }

  .img-container {
    display: block;
    padding: 15px;
  }
  
  ul {
    list-style: none;
    text-align: left;
    margin-top: 15px;
    padding-right: 0;
    padding-left: 0;

    li {
      color: $color-text;
      display: flex;
      align-items: center;
      margin-top: 7px;
      margin-right: 15px;
      padding: 7px 15px;
      text-decoration: none;
      position: relative;
      cursor: pointer;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      transition: all .5s ease-in-out;

      @media all and (min-width: 576px) and (max-width: 767px) { max-width: 50%; }

      svg.arrow-left {
        transform: rotate(180deg);
        position: absolute;
        left: -32px;
        opacity: 0;
        transition: all .5s ease-in-out;
      }

      span { 
        text-transform: lowercase;
        transition: all .5s ease-in-out; 

        &::first-letter { text-transform: uppercase; }
      }

      &.selected {
        background-image: linear-gradient(to right, $color-primary, #9495d7, #bab7e4, #dddaf2, #ffffff 110%);
        color: $color-white;

        svg.arrow-left { display: none; }

        span { margin-left: 0 !important; }
      }
      
      &:hover {
        background-color: $bg-light;
        
        svg.arrow-left {
          opacity: 1;
          position: relative;
          left: 0;
        }
        
        span {
          transition: all .5s ease-in-out;
          margin-left: 15px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
}